<?xml version="1.0" encoding="UTF-8"?>
<web-app id="WebApp_ID" version="2.4" xmlns="http://java.sun.com/xml/ns/j2ee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">
	<display-name>Suba med project</display-name>
	<servlet>
		<description>
		</description>
		<display-name>Admin_ser</display-name>
		<servlet-name>Admin_ser</servlet-name>
		<servlet-class>Admin_ser</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>Add_New_Patient</display-name>
		<servlet-name>Add_New_Patient</servlet-name>
		<servlet-class>Add_New_Patient</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>Msgser</display-name>
		<servlet-name>Msgser</servlet-name>
		<servlet-class>Msgser</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>Appser</display-name>
		<servlet-name>Appser</servlet-name>
		<servlet-class>Appser</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>Bookser</display-name>
		<servlet-name>Bookser</servlet-name>
		<servlet-class>Bookser</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>View_ser</display-name>
		<servlet-name>View_ser</servlet-name>
		<servlet-class>View_ser</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>Indser</display-name>
		<servlet-name>Indser</servlet-name>
		<servlet-class>Indser</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Admin_ser</servlet-name>
		<url-pattern>/Admin_ser</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Add_New_Patient</servlet-name>
		<url-pattern>/Add_New_Patient</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Msgser</servlet-name>
		<url-pattern>/Msgser</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Appser</servlet-name>
		<url-pattern>/Appser</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Bookser</servlet-name>
		<url-pattern>/Bookser</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>View_ser</servlet-name>
		<url-pattern>/View_ser</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Indser</servlet-name>
		<url-pattern>/Indser</url-pattern>
	</servlet-mapping>
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
		<welcome-file>index.htm</welcome-file>
		<welcome-file>index.jsp</welcome-file>
		<welcome-file>default.html</welcome-file>
		<welcome-file>default.htm</welcome-file>
		<welcome-file>default.jsp</welcome-file>
	</welcome-file-list>
</web-app>
